@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/dm-sans";
@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/700.css";

html,
body {
  @apply overflow-x-hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 90px;
}
