@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/dm-sans";
@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/700.css";

html,
body {
  @apply overflow-x-hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden; /* OK */
  overflow-y: auto; /* Make sure Y scrolling is allowed */
  scroll-behavior: smooth;
}
